[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
scikit-learn = "*"
matplotlib = "*"
scikit-optimize = "*"
bayesian-optimization = "*"
requests = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
